.body {
  background-color: #9a0000;
}
.button {
  background-color: #710000;
  border: none;
  color: yellow;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 320px;
}
