*{
  margin: 0;
  padding: 0;
}
.body {
  font-size: 100%;
  font: Arial;
  background-color: #9a0000;
}

.GuildS {
  background-color: #710000;
  text-decoration: none;
  list-style: none;
  font-size: 75%;
  padding: 0.5% 0.5%;
  color: #ff9e00;
  box-shadow: 0 7px #461111;
  transition: 0.5s ease;
}

.GuildS:hover {
  background-color: #800000;
}

.GuildS:active {
  background-color: #780000;
  box-shadow: 0 5px #461111;
  transform: translateY(4px);
}

.Carppb {
  background-color: #710000;
  text-decoration: none;
  list-style: none;
  font-size: 75%;
  padding: 0.5% 0.5%;
  color: #ff9e00;
  box-shadow: 0 7px #461111;
  transition: 0.5s ease;
}
.Carppb:hover {
  background-color: #800000;
}
.Carppb:active {
  background-color: #780000;
  box-shadow: 0 5px #461111;
  transform: translateY(4px);
}
div.t {
  text-align: center;
  font-size: 200%;
  color: #ff9e00; 
}
div.p {
  text-align: center;
  font-size: 200%;
  color: #ff9e00;
}
div.mainbutton {
  text-align: center;
  margin-top: 20px;
}
div.playerbutton {
  text-align: left;
  margin-top: 20px;
}
